.techo-wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.techo-digits {
  margin-right: 2rem;
  transition: 1s all;
  transition-timing-function: cubic-bezier(0, 0.99, 1, 1.01);
  transform-style: preserve-3d;
}

.techo-digit {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
